.post-eof {
  background: $grey-light;
  height: 3px;
  margin: $post-eof-margin-top auto $post-eof-margin-bottom;
  text-align: center;
  width: 100%;

  .post-block:last-of-type & {
    display: none;
  }
}
